@mixin stylesTextNavbarDark {
    color: var(--Gray-222, #222);
    /* Menu Text */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
    text-transform: uppercase;
}

